.more-recipes-list {
  display: flex;
  justify-content: space-between;
}
.more-recipes-item {
  width: 10vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  text-align: center;
  border-radius: 7px;
  padding: 5px;
  background: rgb(240, 247, 255);
  border: 2px solid white;
}
.random-img {
  width: 90px;
  height: 90px;
  border-radius: 25px;
}
h5{
  margin-top: 10px;
}