.back {
  color: rgb(64, 64, 64);
  margin-left: 85px;
}
.content{
  height: 820px;
  display: flex;
  flex-direction: column;
}
.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe {
  border-radius: 20px;
  background: rgb(240, 247, 255);
  padding: 5px 10px 5px 10px;
  width: 50vw;
  height: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 7px solid white;
}
h4 {
  margin: 0;
}
.recipe-img {
  width: 20vw;
  height: auto;
  position: absolute;
  top: 150px;
  left: 850px;
  border-radius: 25px;
}
.Information {
  margin-top: 10px;
}
.li-container {
  background-color: white;
  width: 300px;
  border-radius: 7px;
  margin-left: 20px;
  padding: 1px;
}
li {
  color: rgb(64, 64, 64);
  font-family: Roboto;
  font-size: 10.55px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  width: 300px;
  border-radius: 7px;
  background-color: rgb(240, 247, 255);
  list-style: decimal;
  padding: 10px;
}
.info {
  display: flex;
}
.info-item-container {
  height: 83px;
  width: 57px;
  background-color: white;
  border-radius: 7px;
  padding: 2px;
  display: flex;
  justify-content: center;
  margin: 5px 5px 0 5px;

}
.info-item-container:first-child {
  margin-left: 0px;
}
.info-item {
  height: 80px;
  width: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  background: rgb(240, 247, 255);
}
p{
  text-align: center;
}
