<div class="content">
  <div class="recipe-list">
    <div class="sort-by-meal">
      <a [routerLink]="'/breakfast'">Breakfast</a>
      <a [routerLink]="'/lunch'" [routerLinkActive]="'active-link'">Lunch</a>
      <a [routerLink]="'/dinner'">Dinner</a>
    </div>
    @for (recipe of recipeService.easyLunchRecipes; track $index) {
      <app-recipe-item
        [id]="recipe.id"
        [image]="recipe.image"
        [name]="recipe.name"
        [ingredients]="recipe.ingredients"
        [calories]="recipe.caloriesPerServing"
        [rating]="recipe.rating"
        [prepTime]="recipe.prepTimeMinutes"
        [cookTime]="recipe.cookTimeMinutes"
      ></app-recipe-item>
    }
  </div>
  <app-more-recipes></app-more-recipes>
</div>
